node_modules
dist
.tmp
.sass-cache
bower_components
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
angular.xcodeproj
.idea
.agignore
libpeerconnection.log
npm-debug.log
/tmp/
atlassian-ide-plugin.xml